# IntelliJ / WebStorm / IDE settings
/shelf/
/workspace.xml

# HTTP Client (IDE)
httpRequests/

# DataSources (IDE)
dataSources/
dataSources.local.xml

# .gitignore (raiz do projeto)
.env

# Node.js
node_modules/
dist/
